services:
  bot:
    build: .
    container_name: polynotification_bot
    env_file:
      - .env
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_DB=0
      - DATABASE_URL=sqlite+aiosqlite:///data/db.sqlite3
    depends_on:
      - redis
    volumes:
      - ./data:/app/data
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: polynotification_redis
    volumes:
      - ./redis_data:/data
    restart: unless-stopped
